.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-family: var(--tgui--font-family);
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: auto;
    user-select: none;
}

.modal {
    background-color: var(--tgui--bg_color);
    border-radius: 24px;
    padding: 20px;
    width: 85%;
    height: 85%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow-y: auto; /* Позволяем вертикальную прокрутку */
    overflow-x: hidden;
    scrollbar-width: none;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: var(--tgui--font_weight--accent2);
}
.header span {
    color: var(--tgui--text_color);
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tgui--text_color);
}

.score h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    gap: 5px;
    display: flex;
    align-items: center;
}


.tasks {
    width: 100%;
    padding: 10px;
}

.taskHeader {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 0;
}

.TaskReward {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--tgui--text_color);
}


.taskItem,
.taskItemCompleted {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.taskItemCompleted {
    color: #32cd32; /* Зеленый цвет для выполненных задач */
}

.resumeButton {
    border-radius: 8px;
    font-size: 16px;
}

.quitButton {
    border: 1px solid var(--tgui--surface_dark);
    color: var(--tgui--text_color);
}
