.friendsContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: visible;
}

.leaderBoardList {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: var(--tgui--surface_dark);
    overflow-y: auto; /* Позволяем прокрутку по Y */
    scrollbar-width: none;
}

.textContainer {
    width: 99.9vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: start;
    margin-bottom: 20px;
}

.logo {
    width: 70%;
    background-size: cover;
    user-select: none;
    pointer-events: none;
}