.EnergyContainer {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.logoContainer {
    width: 99.9vw;
    justify-content: center;
    display: flex;
}

.logo {
    width: 70%;
    background-size: cover;
    user-select: none;
    pointer-events: none;
}


.startButton {
    width: 95%;
}

.EnergyCount {
    color: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.EnergyCountTimer {
    color: var(--tgui--hint_color)
}

.EnergyCountContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.DailyContainer {
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    padding-left: 2.5vw;
    display: flex;
    flex-direction: column;
}

.DailyTasksH1 {
    color: white;
    margin-top: 0;
    margin-bottom: 5px;
}

.DailyTaskName {
    display: inline-flex;
    justify-content: space-between;
    color: var(--tgui--text_color);
    text-overflow: ellipsis;
}
.DailyTaskName p {
    margin: 0 4px 0 0;

}

.DailyTaskName p:last-child {
    margin-right: 0;
    color: var(--tgui--hint_color)
}

.DailyTasksList {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: 100%;
    padding: 0 0;
    box-sizing: border-box;
    gap: 5px;
    -webkit-overflow-scrolling: auto;
    user-select: none;
    z-index: 9999;
    height: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.DailyTasksList::-webkit-scrollbar {
    display: none;
}

.DailyTasksList.dragging {
    cursor: grabbing;
}

.Cell {
    transition: opacity .15s ease-out;
    flex: 0 0 auto;
    width: 65%;
    user-select: none;
    opacity: 1;
    position: relative;
    z-index: 9999;
    height: auto; /* Убедись, что высота установлена корректно */
}

.Cell:hover {
    opacity: 0.8 !important;
}