.leaderBoardContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    z-index: 10;
    height: 100%;
    overflow: visible;
}

.leaderBoardList {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: rgb(56, 56, 56);
    overflow-y: auto; /* Позволяем прокрутку по Y */
    scrollbar-width: none;
}

.textContainer {
    width: 99.9vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.textContainer p {
    color: var(--tgui--hint_color);
    margin: 0;
}
.textContainer h2 {
    margin: 0 0 4px;
}

.inviteButton {
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: inline-flex;
    background: linear-gradient(to top, black, transparent);
    box-sizing: border-box;
    padding: 12px;
}


.copyButton {
    background: none;
    -webkit-user-drag: none;
    user-select: none;
    border: none;
    padding-right: 0;
    cursor: pointer;
    transition: opacity .15s ease-out;
}

.copyButton:hover {
    opacity: 0.8
}