.listElement {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    font-size: large;
    color: white;
    width: 100%; /* Изменяем на 100% для корректной ширины */
    font-weight: bold;
    box-sizing: border-box; /* Учитываем отступы и границы */
}
.position {
    color: var(--tgui--hint_color);
}
.name {
    flex: 1;
    margin-left: 4px;
}
.points {
    color: var(--moody-logo-color)
}