body, html, head {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-bg-color);
  background-color:var(--tg-theme-bg-color);
  font-family: var(--font-family);
}

img {
  user-select: none;          /* Запрещает выделение изображения */
  -webkit-user-drag: none;    /* Запрещает перетаскивание изображения */
}

.tgui-aeab497081949a15 {
  overflow: visible !important;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 85% !important;
}

.tgui-64cd0db020a9bacf {
  padding: 6px 8px 8px !important;
}

.tgui-b8dfba0b5c3d054c {
  border-radius: 12px !important;
  background: var(--tgui--bg_color);
}
.tgui-b8dfba0b5c3d054c:hover {
  background: var(--tgui--bg_color) !important;
  opacity: var(--tgui--button--hovered-opacity) !important;
}

.tgui-8735a62be5a8b8a7 {
  padding: 12px 0 !important;
}

:root {
  font-family: var(--font-family);
  background: var(--tgui--bg_color);
  --moody-logo-color: var(--tg-theme-button-color);
  --font-family: -apple-system, system-ui, "Roboto", sans-serif;
}