.pageBody {
  color: var(--tgui--bg_color);
  display: flex;
  width: 99.9%;
  height: 99.9vh;
  flex-direction: column;
  background: black;
  justify-content: center;
  user-select: none;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 99.9vh;
  width: 99.9vw;
  object-fit: cover;
  object-position: center;
  user-select: none;
  pointer-events: auto;
}

.interfaceContainer {
  display: flex;
  flex-direction: column;
}



.TabbarItem {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: visible;
  font-size: 80%;
}



.ButtonText {
  min-width: 60vw;
  max-width: 60vw;
}

.ButtonImage {
  display: block;
  max-width: 45vmin;
  min-width: 60vw;
  min-height: 15vh;
}

.buttonText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5vmin;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  pointer-events: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Убедитесь, что z-index достаточно высок */
}

.modal {
  background: none;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  max-width: 500px;
  width: 99.9%;
  display: flex;
  align-items: center;
  z-index: 1000; /* Убедитесь, что модальное окно выше overlay */
}

.closeButtonWrapper {
  position: absolute;
  top: -2.5%;
  right: 0;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: none;
}


.closeButtonWrapper:active {
  top: calc(-2.5% + 2px);
}


.closeButton {
  width: 10vmax;
}

.taskBoardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99.9%;
  height: 99.9%;
}

.taskBoard {
  width: 99.9%;
  height: auto;
}

.taskBoardContent {
  position: absolute;
  top: 40%;  /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Translate to center */
  width: 90%; /* Adjust this to fit your content within the taskboard */
  color: black; /* Adjust the color of your content */
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.taskBoardText {
  color: white;
  font-size: 4vw;
  clear: both;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  pointer-events: none;
  text-align: center;
}


.taskBoardTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text container items horizontally */
  margin-bottom: 20px;
}

.taskBackground {
  width: 99.9%;
  height: 99.9%;
  margin-bottom: 5px;
  justify-content: center; /* Center task background content horizontally */
  align-items: center; /* Center task background content vertically */
}

.taskList {
  position: absolute;
  width: 90%;
  top: 32.5%;
  left: 50%;
  display: flex;
  flex-direction: column;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}
.task {
  justify-content: center;
  margin-bottom: 5px;
  transform: translate(-50%, -50%);
}


.taskContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 5px;
  width: 100%
}

.imageAndDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskDescription, .balance, .referals {
  font-family: var(--tgui--font-family);
  color: white;
  margin: 0 0 2px 5px;
  user-select: none;
}


.referals {
  font-size: small;
  font-weight: 500;

}
.balance {
  font-size: x-large;
  font-weight: 700;
}

.totalbalance {
  font-size: 100%;
  margin: 0;
  user-select: none;
  color: white;
}

.muteBtn {
  position: absolute;
  top: 18%;
  z-index: 1;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.totalbalance {
  font-weight: 700;
  margin-bottom: 10px;
}
.balanceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskDescriptionContainer {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.taskIcon{
  width: 12vw
}
.rewardDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.balanceDescription, .referalsDescription {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent; /* Фон контейнера */
  z-index: 1;
  margin-bottom: 5px;
}




.copyButton {
  background: none;
  -webkit-user-drag: none;
  user-select: none;
  border: none;
  padding-right: 0;
  cursor: pointer;
  transition: opacity .15s ease-out;
}

.copyButton:hover {
  opacity: 0.8
}

.userDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
}

.topBarContainer {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.topBarBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--tgui--button_color);
  z-index: 9999;
  pointer-events: auto;
  cursor: pointer;
  transition: opacity .15s ease-out;
}
.topBarBtn:hover {
  opacity: 0.8;
}
.topBarBtn p {
  margin: 4px 0 0;
  font-size: 16px;
  font-weight: bold;
}
.topBarBtnP {
  margin: 4px 0 0;
  font-size: 16px;
  font-weight: bold;
}
.coinImage {
  right: 0;
  top: 1%;
  position: relative;
  width: 3vw;
  height: 100%;
}


@media (min-width: 559px) {
  .closeButtonWrapper {
    right: -12.5%
  }
  .closeButton {
    width: 75%;
  }
}

@media (min-width: 600px) {
  .taskIcon{
    width: 1vw
  }

  .taskDescription {
    font-size: 1vw;
  }

  .taskBoardText {
    font-size: 2vw;
  }

}

@media (min-width: 1921px) {
  .taskIcon{
    width: 2vw
  }
  .taskDescription {
    font-size: 0.75vw;
  }
  .taskBoardText {
    font-size: 1vw;
  }
}