.homeBody {
  background: var(--tgui--bg_color);
  color: var(--tgui--bg_color);
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

.interfaceContainer {
  display: flex;
  flex-direction: column;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.logo {
  width: 100%;
}

.logoContainer {
  width: 100vw;
}

.comingSoonText {
  font-family: var(--tgui--font-family);
  width: 50vw;
  margin-bottom: 2vw;
  color: white;
  font-size: 4.1vw;
  user-select: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.startBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  position: relative; /* Добавьте это для относительного позиционирования */
  transition: top 0.1s ease; /* Добавляем плавный переход */
}

.startBtn:active {
  top: 2px; /* Перемещение на 2 пикселя вниз */
}


.ButtonBG {

}

.ButtonText {
  min-width: 60vw;
  max-width: 60vw;
}

.ButtonImage {
  display: block;
  max-width: 45vmin;
  min-width: 60vw;
  min-height: 15vh;
}


.StartButtonImage {
  width: 18vmin;
}

.startButtonText{
  position: absolute;
  color: white;
  font-size: 3vw;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  pointer-events: none;
}
.buttonText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5vmin;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  pointer-events: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Убедитесь, что z-index достаточно высок */
}

.modal {
  background: none;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1000; /* Убедитесь, что модальное окно выше overlay */
}

.closeButtonWrapper {
  position: absolute;
  top: -2.5%;
  right: 0;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: none;
}


.closeButtonWrapper:active {
  top: calc(-2.5% + 2px);
}


.closeButton {
  width: 10vmax;
}

.taskBoardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.taskBoard {
  width: 100%;
  height: auto;
}

.taskBoardContent {
  position: absolute;
  top: 40%;  /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Translate to center */
  width: 90%; /* Adjust this to fit your content within the taskboard */
  color: black; /* Adjust the color of your content */
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.taskBoardText {
  color: white;
  font-size: 4vw;
  clear: both;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  pointer-events: none;
  text-align: center;
}


.taskBoardTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text container items horizontally */
  margin-bottom: 20px;
}

.taskBackground {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  justify-content: center; /* Center task background content horizontally */
  align-items: center; /* Center task background content vertically */
}

.taskList {
  position: absolute;
  width: 90%;
  top: 32.5%;
  left: 50%;
  display: flex;
  flex-direction: column;
  user-select: none;          /* Запрещает выделение изображения */
  pointer-events: none;       /* Отключает события указателя */
  -webkit-user-drag: none;    /* Запрещает перетаскивание изображения */
}
.task {
  justify-content: center;
  margin-bottom: 5px;
  transform: translate(-50%, -50%);
}


.taskContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 5px;
  width: 100%
}

.imageAndDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskDescription, .balance {
  font-family: var(--tgui--font-family);
  color: white;
  font-size: 3.1vw;
  margin: 0 0 2px 5px;
  user-select: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.taskDescriptionContainer {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.taskIcon{
  width: 12vw
}
.rewardDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.balanceDescription, .referalsDescription {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 32px; /* Скругленные края */
  padding: 2px 20px;
  background-color: transparent; /* Фон контейнера */
  z-index: 1;
  margin-bottom: 5px;
  width: 20vw;
}

.balanceDescription::before, .referalsDescription::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 32px; /* Скругленные углы */
  padding: 0.8vw; /* Толщина границы */
  background: linear-gradient(90deg, #E5C400 0%, #FE7500 100%);
  -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0); /* Прозрачный центр и цветная граница */
  -webkit-mask-composite: xor;
  mask-composite: exclude; /* Совместимость с другими браузерами */
  z-index: -1; /* Размещение за основным контентом */
}

.balanceDescription::after, .referalsDescription::after {
  content: "";
  border-radius: 29px; /* Немного меньший радиус, чтобы повторить внутренние границы */
  background-color: transparent; /* Цвет внутреннего фона */
  z-index: -2; /* Псевдоэлемент за градиентом */
}


.userDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 2vw;
  right: 3vh;
}
.coinImage {
  position: absolute;
  width: 6vw;
  right: 0;
  height: 100%;
}

.snackBar {
}

@media (min-width: 559px) {
  .closeButtonWrapper {
    right: -12.5%
  }
  .closeButton {
    width: 75%;
  }
}

@media (min-width: 600px) {
  .taskIcon{
    width: 1vw
  }
  .StartButtonImage {
    width: 5vw;
  }
  .taskDescription {
    font-size: 1vw;
  }

  .taskBoardText {
    font-size: 2vw;
  }
  .startButtonText{
    font-size: 1vw;
  }
}

@media (min-width: 1921px) {
  .taskIcon{
    width: 2vw
  }
  .StartButtonImage {
    width: 2.5vw;
  }
  .taskDescription {
    font-size: 0.75vw;
  }
  .startButtonText{
    font-size: 0.5vw;
  }
  .taskBoardText {
    font-size: 1vw;
  }
}