.tasksContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    z-index: 10;
    height: 100%;
    overflow: visible;
    box-sizing: border-box;
}

.leaderBoardList {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Позволяем прокрутку по Y */
    scrollbar-width: none;
}

.modalButtons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.modalText {
    flex-direction: column-reverse;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.textContainer {
    width: 99.9vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.textContainer p {
    color: var(--tgui--hint_color);
    margin: 0;
}
.textContainer h2 {
    margin: 0 0 4px;
}
